.jumbotron {
    text-align: center;
    background-color: teal;
    color: white;
}

.panel-default .panel-heading {
    background-color: teal;
    color: white;
}

.panel {
    border: 2px solid teal;
}

.btn {
    background-color: teal;
    color: white;
}

.output {
    margin: 5px;
    background-color: rgb(228, 225, 225);
}