.jumbotron {
    text-align: center;
    background-color: rgb(124, 70, 45);
    color: white;
}

.panel-default .panel-heading {
    background-color: rgb(33, 33, 133);
    color: white;
}

.panel {
    border: 2px solid rgb(33, 33, 133);
}

.btn {
    background-color: rgb(33, 33, 133);
    color: white;
}

.output {
    margin: 5px;
    background-color: rgb(228, 225, 225);
}